# Ambiente virtual
venv/
.venv/

# Arquivos de configuração do PyCharm
.idea/

# Arquivos Python compilados
__pycache__/
*.pyc

# Logs e arquivos temporários
*.log
*.tmp
*.swp

# Arquivos do sistema
.DS_Store

# Configuração de ambiente local
.env
